
// Colori del testo
$color-primary: white;
$color-secondary: rgb(56, 82, 255);
// $color-tertiary: ;
// $color-quaternary: ;
// $color-quinary: ;
// $color-senary: ;
// $color-septenary: ;
// $color-octonary: ;
// $color-nonary: ;
// $color-denary: ;

// Colori del background
$bg-color1: black;
// $bg-color2: ;
// $bg-color3: ;
// $bg-color4: ;
// $bg-color5: ;
// $bg-color6: ;
// $bg-color7: ;
// $bg-color8: ;
// $bg-color9: ;
// $bg-color10: ;

// Tutti mixin

@mixin conteiner-center{
  width: 60%;
  margin: 0 20%;
}
