
header{

  position: fixed;
  height: 100px;
  width: 100%;
  background-color: $bg-color1;

  nav{
    color: $color-primary;
    padding-top: 10px;
    @include conteiner-center;

    div.info-right-header{
      display: flex;
      justify-content: flex-end;

      ul{
        display: flex;
        list-style: none;

        li{
          display: flex;
          padding: 0 10px;

          i{
            color: $color-secondary;
            padding-right: 10px;
          }

          a{
            color: $color-primary;
            text-decoration: none;
          }
        }
      }
    }

    div.info-center-header{
      display: flex;
      margin-top: 25px;
      img{
        width: 120px;
        height: 32px;
        cursor: pointer;
      }

      ul{
        display: flex;
        list-style: none;

        li{
          display: flex;
          line-height: 40px;
          padding: 0 20px;

          a{
            font-size: 18px;
            color: $color-primary;
            text-decoration: none;
          }

          i{
            font-size: 10px;
            padding-left: 3px;
            align-self: center;
            cursor: pointer;
          }
        }
      }
    }

  }

}

main{
  padding-top: 100px;
  background-image: url("/img/bg-painter-home.jpg");
}
